// IMPORT GLOBAL VARIABLES
@import "utilities/variables";
@import "utilities/mixins";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@import './components.scss';

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}


body {
  background-color: #EEE;
}

.app-component-wrapper {
  width: 100%;
}